/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20.06.2016, 13:16:11
    Author     : lvtdej0
	---------------------------------
	Changed:   : 24.06.2016 13:39
	Author:    : Diane Emmrich
*/

h2 {margin:10px; padding:15px; width:30em; border-width:5px; border-color:black; border-style:solid}

table {border-width:1px; border-color:white; border-style:solid; border-spacing: 5px;padding:5px;}
#Rahmen_Tabelle {border-color:black;}
body, select  {font-family:Arial; font-size: 15px;}

textarea, input, select {background: #E0F2F7;}

textarea.WorknoteRO  {background: #E6E6E6;}
