/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20.06.2016, 13:16:11
    Author     : lvtdej0
	---------------------------------
	Changed:   : 24.06.2016 13:39
	Author:    : Diane Emmrich
	---------------------------------
	Changed:   : 25.06.2016 13:30
	Author:    : Diane Emmrich
*/

table {border-width: 1px; border-color:white; border-style: none; border-spacing: 5px;padding:5px;}
body, select, input  {font-family:Arial; font-size: 15px;}
textarea, input, select {background: #D7ECEB;}
select {width:50%}

textarea.WorknoteRO  {background: #E6E6E6;}
#Menue {
    border-bottom: medium solid #009091; 
    border-top: medium solid #009091;
    margin-top: 2px;
}
#Rahmen_Tabelle {border-color:black;}
#Header {border-color: white; text-align: right; font-size: 12px}
#repTime {width:48%}
#Zeit  {text-align: left;}
#Logout[type=submit] {
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
	margin-left: 10px;
	font-size: 12px
}
#Table_Wrap {border-color: white}

table.result {border-collapse: collapse;}
table.result td {border: 1px solid black;padding: 5px;} 
table.result thead {border: 1px solid black;padding: 5px; background-color: #E6E6E6}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

